<!DOCTYPE html>
<html>
  <head>
	<!--react kernel library-->
    <script src="../build/react.js"></script>
	<!--provides the features relative to DOM-->
    <script src="../build/react-dom.js"></script>
	<!--transform JSX into javascript, when go to production, better to make this step at server side-->
    <script src="../build/browser.min.js"></script>
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel">
      // ** Our code goes here! **
    </script>
  </body>
</html>